<!DOCTYPE html>
<html>
  <head>
    <title>LearningBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose mx-auto">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="inline-flex">
      <% if user_signed_in? %>
        <%= link_to "New blog post", new_blog_post_path, class: "bg-green-600 px-2 py-2 m-2 rounded no-underline text-white" %>
        <%#= link_to "Profile", edit_user_registration_path %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "bg-orange-500 px-2 py-2 m-2 rounded text-white" %>
      <%# else %>
        <%#= link_to "Login", new_user_session_path %>
        <%#= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
